<!-- wp:template-part {"slug":"main-nav","theme":"blockader","tagName":"header","area":"header","className":"header"} /-->

<!-- wp:group {"tagName":"main","className":"blockader-page blockader-page-single","layout":{"type":"constrained"}} -->
<main class="wp-block-group blockader-page blockader-page-single"><!-- wp:group {"className":"page-header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group page-header"><!-- wp:breadcrumbs {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"}}},"fontSize":"sm"} /-->
	
	<!-- wp:post-title {"level":1,"className":"page-title"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-featured-image {"aspectRatio":"16/9","className":"page-featured-image"} /-->
	
	<!-- wp:group {"className":"page-content","style":{"spacing":{"padding":{"top":"var:preset|spacing|hero-padding","bottom":"var:preset|spacing|hero-padding"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group page-content" style="padding-top:var(--wp--preset--spacing--hero-padding);padding-bottom:var(--wp--preset--spacing--hero-padding)"><!-- wp:post-content /--></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"site-footer","theme":"blockader","tagName":"footer","area":"footer","className":"footer"} /-->